@import 'main';

#dropdown .dropdown-toggle {
    background-color: transparent;
    border: 2px $color-primary solid;
    color: $color-primary;
    padding: 5px 15px;
    &:disabled {
        background-color: transparent;
        color: $color-grey;
        border: 2px $color-grey solid;
    }
    &::after {
        margin-left: 0.5rem;
        vertical-align: 0.2em;
    }
}

#dropdown .dropdown-toggle.dropdown-toggle-plain {
    border: 0;
    background-color: $color-white;
    color: $color-primary;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.12);
}

#dropdown .dropdown-menu {
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    min-width: fit-content;
}

#dropdown .dropdown-menu > li .dropdown-item {
    color: $color-primary;
    -webkit-appearance: none;
    padding: 0px 10px;
    &:active {
        background-color: initial;
    }
}

@media (prefers-color-scheme: dark) {
    #dropdown .dropdown-toggle {
        border: 2px white solid;
        color: white;

        &:disabled {
            background-color: transparent;
            color: $color-grey;
            border: 2px $color-grey solid;
        }
    }
    #dropdown .dropdown-toggle.dropdown-toggle-plain {
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 0px 4px 14px rgba(255, 255, 255, 0.12);
    }
    #dropdown .dropdown-menu {
        background-color: $color-primary;
        box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
        border-radius: 9px;
    }
    #dropdown .dropdown-menu > li .dropdown-item {
        color: white;
        &:hover,
        &:focus {
            background-color: $color-dark-background;
        }
    }
    #dropdown .dropdown-menu > li .dropdown-divider {
        background-color: white;
    }
}
