@import 'src/styles/main';

.auth-paragraph {
    color: #b5b5b5;
    padding-top: 1rem;
}

h1.display-5 {
    font-weight: 400;
}

.mb-4rem {
    margin-bottom: 4rem;
}

.mt-4rem {
    margin-top: 4rem;
}

.btn-padding {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
}

.scale-anim {
    transition: all 0.2s ease-in-out;
    &:hover {
        transform: scale(1.025);
    }
}

.import-software-btn {
    background: #f7faff;
    border-radius: 15px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.selected {
    background-color: #ff7676;
    color: white;
}

.danger-text {
    color: #ff7676;
}

.not-recommanded {
    color: #f3b265;
}

.warning-text {
    color: $color-orange;
}

.success-text {
    color: $color-green;
}

.create-btn {
    background-color: white;
    width: 96px;
    height: 96px;
    box-shadow: 0px 3.32571px 14.9657px rgba(0, 0, 0, 0.1);
    opacity: 1 !important;
}

.access-card {
    padding-left: 8rem !important;
    padding-right: 8rem !important;
    width: 80% !important;
}
@include media-breakpoint-up(lg) {
    .access-card {
        width: 75% !important;
    }
}
@include media-breakpoint-up(xl) {
    .access-card {
        width: 50% !important;
    }
}

.auth-header {
    margin-bottom: 93px;
}

.separator {
    height: 1px;
    background-color: $color-grey;
    opacity: 0.2;
}

.import-card {
    width: 100% !important;
    background-color: $color-white;
}

@include media-breakpoint-up(lg) {
    .import-card {
        width: 65% !important;
    }
}

.mnemonic-input-import {
    border-bottom-color: #999999;
    &:disabled {
        background-color: white !important;
    }
}
// Create  Wallet
.mnemonic-input-create {
    border-bottom-color: #999999;
    &:disabled {
        background-color: white !important;
    }
}

.nav-item {
    border-bottom: 2px solid $color-grey;
    &:hover {
        cursor: pointer;
    }
}

.nav-item > a {
    color: $color-grey !important;
}

.nav-item > a > img {
    opacity: 0.3;
}

.nav-item.active {
    border-bottom: 2px solid $color-primary;
}

.nav-item.active > a {
    font-weight: bold;
    color: $color-primary !important;
}

.nav-item.active > a > img {
    opacity: 1;
}

.keystore-step-container {
    background-color: #f7faff;
    padding: 2rem;
    border-radius: 15px;
}

.keystore-step-container > img {
    object-fit: contain;
    margin-right: 2rem;
}

.keystore-step-title {
    font-size: $font-md;
    font-weight: $medium;
}

.text-btn {
    color: $color-primary;
    &:hover {
        color: $color-primary;
    }
}

.text-btn-green {
    color: $color-green;
    &:hover {
        color: $color-green;
    }
}

@media (prefers-color-scheme: dark) {
    .auth-header > img,
    .scale-anim > img,
    .create-btn > img,
    .nav-item > a > img,
    .text-btn > img,
    .keystore-step-container > img {
        filter: brightness(0) invert(1);
    }
    .auth-layout {
        background: $color-primary;
    }
    .create-btn {
        background: #000;
    }
    h3,
    h6,
    .display-5,
    .input-group .normal-input,
    .input-group > label {
        color: white;
    }
    .auth-card,
    .import-card,
    .access-card {
        background: #000;
    }
    .import-modal-content {
        background: $color-primary !important;
    }
    .nav-item > a {
        color: $color-primary !important;
    }

    .nav-item {
        border-bottom: 2px solid $color-primary;
        &:hover {
            cursor: pointer;
        }
    }

    .nav-item.active {
        border-bottom: 2px solid white;
    }
    .text-btn,
    .nav-item.active > a {
        color: white !important;
    }

    .mnemonic-input-import {
        background-color: $color-primary !important;
        color: white !important;
    }

    .mnemonic-input-create:disabled {
        background-color: #000 !important;
        color: white !important;
    }

    .keystore-step-container {
        background-color: $color-primary;
    }
}
