@import 'src/frontend-elements/styles/main';

.message-button-container {
    transition: all linear 150ms;
    cursor: pointer;
}

.message-button-container:hover {
    transform: scale(1.05);
}

.message-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 132px;
    width: 132px;
    border-radius: 66px;
    background-color: #eef4ff;
}

.message-circle img {
    height: 72px;
    width: 72px;
    object-fit: contain;
}

.button-title {
    font-weight: $medium;
    font-size: $font-lg;
}
