.normal-input {
    background-color: #f9f9f9;
    &:focus {
        outline: thin dotted;
        outline: 0;
    }
    &:disabled {
        background-color: #f9f9f9;
    }
}

.form-switch {
    .form-check-input {
        width: 3rem !important;
        line-height: 1.6rem;
        height: 1.75rem !important;
        border-radius: 2.5rem;
        border-width: 0px;
        border-color: transparent;
        background-color: #eacee3 !important;
        vertical-align: middle;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23321C3B'/%3e%3c/svg%3e") !important;
        &:checked {
            &::before {
                color: #321c3b;
                opacity: 50%;
            }
            &::after {
                color: white;
                opacity: 100%;
            }
        }
        &::before {
            content: attr(data-off-label);
            vertical-align: middle;
            font-size: 12px;
            margin-left: 0.5rem;
            margin-right: 0.45rem;
            color: white;
            opacity: 100%;
        }
        &::after {
            content: attr(data-on-label);
            font-size: 12px;
            color: #321c3b;
            opacity: 50%;
        }
    }
}

input[type='checkbox'] {
    &:focus {
        box-shadow: none;
        outline: 0;
        border-color: transparent;
    }
    &:active {
        filter: none;
    }
}
