@import 'src/styles/main';

.normal-input {
    overflow: hidden;
    background-color: #f9f9f9;
}

.normal-input.read-only {
    background-color: transparent;
}

.normal-input > input {
    background-color: transparent;
    &:focus {
        outline: thin dotted;
        outline: 0;
    }
    &:disabled {
        background-color: #f9f9f9;
        color: #555555;
    }
}
.normal-input > input:read-only,
.normal-input > input:moz-read-only {
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px white inset !important;
        box-shadow: 0 0 0 30px white inset !important;
        -webkit-text-fill-color: $color-primary;
    }
}

/* Chrome, Safari, Edge, Opera */
.normal-input > input::-webkit-outer-spin-button,
.normal-input > input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.normal-input > input[type='number'] {
    -moz-appearance: textfield;
}

.form-switch {
    .form-check-input {
        width: 3rem !important;
        line-height: 1.6rem;
        height: 1.75rem !important;
        border-radius: 2.5rem;
        border-width: 0px;
        border-color: transparent;
        background-color: #e8f1ff !important;
        vertical-align: middle;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23321C3B'/%3e%3c/svg%3e") !important;
        &:checked {
            &::before {
                color: #321c3b;
                opacity: 0.5;
            }
            &::after {
                color: white;
                opacity: 1;
            }
        }
        &::before {
            content: attr(data-off-label);
            vertical-align: middle;
            font-size: 12px;
            margin-left: 0.5rem;
            margin-right: 0.45rem;
            color: white;
            opacity: 1;
        }
        &::after {
            content: attr(data-on-label);
            font-size: 12px;
            color: #321c3b;
            opacity: 0.5;
        }
    }
}

input[type='checkbox'] {
    &:focus {
        box-shadow: none;
        outline: 0;
        border-color: transparent;
    }
    &:active {
        filter: none;
    }
}

.select-container {
    color: $color-primary;
}

.file-input-container {
    input {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }

    input + label {
        background-color: $color-white;
        box-shadow: 0 3.32571px 14.9657px rgba(0, 0, 0, 0.1);
        color: $color-primary;
        display: inline-block;
        border-radius: 18px;
        padding: 1rem 2rem;
    }

    label img {
        height: 40px;
    }

    input:focus + label {
        outline: 1px dotted #000;
        outline: -webkit-focus-ring-color auto 5px;
    }

    input:focus + label,
    label:hover {
        opacity: 0.75;
        cursor: pointer;
    }
}

@media (prefers-color-scheme: dark) {
    label.form-label {
        color: white;
    }
    .normal-input.read-only > input {
        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:active {
            -webkit-box-shadow: 0 0 0 30px $color-primary inset !important;
            box-shadow: 0 0 0 30px $color-primary inset !important;
            -webkit-text-fill-color: white;
        }
        color: white;
    }
    .select-container {
        color: white;
    }

    .file-input-container {
        input + label {
            background-color: $color-black;
            color: white;
        }

        label img {
            filter: invert(100%) brightness(1);
        }
    }
}
