span.smaller-decimal {
    font-weight: 500;
}

span.smaller-decimal > small {
    font-size: 0.7em;
    font-weight: normal;
}

span.smaller-decimal-big {
    font-weight: normal;
    font-size: 2.5rem;
}

span.smaller-decimal-big > small {
    font-size: 1.95rem;
    font-weight: normal;
}
