@import 'src/styles/main';

/* Reset button default styling */

button {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
}

button:hover {
    //background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
}

button:active {
    outline: none;
    border: none;
}

button:focus {
    outline: 0;
}

/* END Reset button default styling */

.normal-btn {
    background-color: $color-primary;
    color: white;
    &:active {
        background-color: black;
    }
    &:disabled {
        background-color: $color-grey;
    }
}

.scale-anim {
    transition: all 0.2s ease-in-out;
    &:hover {
        transform: scale(1.05);
    }
}

.toast-close-btn {
    min-width: 40px;
    min-height: 40px;
    max-width: 40px;
    max-height: 40px;
    background-color: white;
    border-radius: 20px;
}

.toast-close-btn > img {
    transform: rotateZ(45deg);
    width: 20px;
    height: 20px;
}

@media (prefers-color-scheme: dark) {
    .normal-btn {
        background-color: $color-white;
        color: $color-primary;
    }
    .toast-close-btn {
        background-color: $color-primary;
    }
}
