@import 'frontend-elements/styles/main.scss';

#root {
    overflow-x: hidden;
    white-space: pre-line; // to allow \n in translation
}

.Toastify__toast {
    border-radius: 25px;
    align-items: center;
    padding: 12px;
}

.Toastify__toast--error {
    background-color: #ff7676;
}
