/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap';
@import 'fonts';

// primary font
$primary_font: 'Work Sans';

// Font Weights
$extralight: 100;
$thin: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extrabold: 700;
$black: 900;

// Font sizes
$font-xs: 12px;
$font-sm: 14px;
$primary-fs: 16px;
$font-md: 18px;
$font-lg: 20px;
$font-xl: 25px;
$font-xxl: 30px;

// Colors
$color-background: #fcfdff;
$color-dark-background: #000;
$color-grey: #b5b5b5;
$color-light-grey: #f7faff;
$color-primary: #2e2e2e;
$color-white: #fff;
$color-black: #000;
$color-link: #48a7ff;
$color-type: #98bbff;
$color-striped: #f2f6fd;
$color-dark-striped: #171717;
$color-input: #f4f6f8;
$color-green: #5ecd42;
$color-light-green: #dbffd2;
$color-red: #ff7245;
$color-light-red: #ffddd3;
$color-orange: #ffcd6a;
$color-light-orange: #ffcd6a33;
$color-mauve: #321c3b;

$color-badge-dark: #989898;

$color-dot-green: #5fd68b;
$color-dot-orange: #fd9033;
$color-dot-blue: #5f99dc;
$color-dot-cyan: #5fd2dc;

@mixin no-margin {
    margin-bottom: 0 !important;
}

body {
    font-family: $primary_font;
    font-size: $primary-fs;
    font-weight: $regular;
    background-color: #fcfdff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100vh;
    @include no-margin();
}

h1 {
    font-weight: $medium;
    font-size: $font-xl;
    @include no-margin();
}

h2 {
    font-weight: $bold;
    font-size: $font-xl;
    color: $color-primary;
    @include no-margin();
    display: flex;
    align-items: center;
}

h2 > img {
    width: 20px;
    height: 20px;
    margin-right: 6px;
}

h3 {
    font-weight: $regular;
    @include no-margin();
}

h4 {
    font-weight: $semibold;
    font-size: $primary-fs;
    color: $color-primary;
    @include no-margin();
    display: flex;
    align-items: center;
}

h4 > img {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

h5 {
    font-weight: $semibold;
    @include no-margin();
    font-size: $font-sm;
}

h6 {
    font-weight: $regular;
    color: $color-grey;
    @include no-margin();
}

p {
    font-weight: $light;
    font-size: $primary-fs;
    @include no-margin();
}

a {
    color: $color-link;
    text-decoration: none;
}

.pointer {
    cursor: pointer;
}

.img-cpy {
    height: 14px;
    width: 14px;
}

ul {
    padding: 0;
    margin: 0;
}

/* @media (prefers-color-scheme: dark) {
    h4,
    h2 {
        color: $color-white;
    }

    h4 > img,
    h2 > img,
    .placeholder-image {
        filter: brightness(0) invert(1);
    }
} */

#root {
    height: 100vh;
}
