@import 'src/frontend-elements/styles/main.scss';

$color-arrow-green: #5ecd42ff;
$color-arrow-red: #ff7245ff;

body {
    --bs-secondary-color: #6c757d;
}

#root {
    overflow-x: hidden;
    white-space: pre-line; // to allow \n in translation

    --toastify-color-error: #ff7676;
}

.Toastify__toast {
    border-radius: 25px;
    align-items: center;
    padding: 12px;
}
