@import 'src/styles/main';

.default-card {
    border-radius: 15px;
}

.ticker {
    width: 38px;
    height: 18.6px;
    @include media-breakpoint-up(sm) {
        width: 57px;
        height: 28px;
    }
}
