@import 'src/styles/main';

.default-card {
    border-radius: 15px;
}

.ticker {
    width: 38px;
    height: 18.6px;
    @include media-breakpoint-up(sm) {
        width: 57px;
        height: 28px;
    }
}

.refresh-img {
    transition: transform 2s;
}

.refresh-img.loading {
    transform: rotate(360deg);
}

.wallet-address > h6 {
    &:hover {
        opacity: 0.8;
    }
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
