@import '../../../frontend-elements/styles/main.scss';

.auth-layout,
.main-layout {
    display: flex;
    flex-direction: column;
    //justify-content: space-between;
    background-color: $color-background;
    flex: 1;
    min-height: 100vh;
}

.auth-layout footer,
.main-layout footer {
    bottom: 0;
}

.navbar-container {
    z-index: 1000;
}

.navbar {
    background: white;
    box-shadow: 0px 4px 10px rgba(205, 205, 205, 0.25);
    height: 82px;
}

.bottom-navbar {
    display: flex;
    flex-shrink: 0;
    min-height: 100px;
}

.main-layout nav.bottom-navbar {
    display: none;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
}

.lum-logo {
    object-fit: contain;
}

.warning-bar {
    background: #ffddd3;
    color: #ff7245;
    font-size: 12;
    font-weight: bold;
}

.navbar-item {
    color: #321c3b !important;
    opacity: 0.3;
    transition: all linear 150ms;
    &:hover {
        opacity: 0.6;
    }
}

.navbar-item > div > img {
    object-fit: contain;
}

.selected-navbar-item {
    color: #321c3b !important;
    opacity: 1;
    background-color: transparent;
    &:hover {
        opacity: 1;
    }
}

.logout {
    border: solid #321c3b;
    border-radius: 50%;
    border-width: 2.5px;
    height: 50px;
    width: 50px;
}

.logout-modal-title {
    color: $color-primary;
    white-space: pre-line;
}

.logout-modal-cancel-btn {
    background-color: $color-white;
    color: $color-primary;
    border: $color-primary 1px solid;
    &:hover {
        border: $color-primary 1px solid;
    }
}

.logout-modal-logout-btn {
    background-color: #ff7676;
}

.content {
    padding-top: 82px;
}

.content.testnet {
    padding-top: 122px;
}

@include media-breakpoint-down(lg) {
    .navbar {
        height: 60px;
    }

    .content {
        padding-top: 60px;
    }

    .content.testnet {
        padding-top: 100px;
    }

    .main-layout {
        padding-bottom: 100px;
    }
    .main-layout nav ul {
        display: none;
    }
    .main-layout nav ul.lum-logo {
        display: initial;
    }
    .main-layout nav.bottom-navbar {
        display: flex;
        flex-direction: row;
        height: 100px;
        width: 100vw;
        bottom: 0;
        top: unset;
        justify-content: space-around;
        align-items: center;
        padding-top: 16px;
        box-shadow: 0px -4px 10px rgba(205, 205, 205, 0.25);
    }
    .main-layout nav.bottom-navbar ul.navbar-nav {
        display: flex;
        flex-direction: row;
        flex: 1;
        align-items: center;
        justify-content: space-evenly;
    }
    .main-layout nav.bottom-navbar ul.navbar-nav li .navbar-item {
        font-size: $primary-fs;
    }
    .main-layout nav.bottom-navbar ul.navbar-nav li img.nav-icon {
        width: 25px;
        height: 25px;
        margin-bottom: 3px;
    }
}

@include media-breakpoint-down(sm) {
    .content {
        padding-top: 20px;
    }

    .content.testnet {
        padding-top: 40px;
    }

    .main-layout nav {
        display: none;
    }

    .main-layout nav.bottom-navbar {
        height: 90px;
    }

    .main-layout nav.bottom-navbar ul.navbar-nav li img.nav-icon {
        width: 18px;
        height: 18px;
    }

    .main-layout nav.bottom-navbar ul.navbar-nav li .navbar-item {
        font-size: $font-xs;
    }
}

@media (prefers-color-scheme: dark) {
    .navbar {
        background: $color-primary;
        box-shadow: none;
    }
    .auth-layout {
        background-color: $color-primary;
    }
    .main-layout {
        background-color: #000;
    }
    .navbar-item {
        color: #fff !important;
    }
    .navbar > img,
    .navbar-item > img,
    .import-card > div > img,
    .logout > img {
        filter: brightness(0) invert(1);
    }
    .selected-navbar-item {
        color: #fff !important;
        opacity: 1;
        background-color: transparent;
        &:hover {
            opacity: 1;
        }
    }

    .logout {
        border: solid #fff;
    }
    .logout-modal-cancel-btn {
        background-color: $color-primary;
        color: $color-white;
        border: $color-white 1px solid;
        &:hover {
            border: $color-white 1px solid;
        }
    }
    .logout-modal-title {
        color: $color-white;
    }

    .dropdown-menu {
        background-color: $color-primary !important;
    }
    .dropdown-item {
        &:hover {
            background-color: #000 !important;
        }
    }
}
